*{
	margin: 0;
	padding: 0;
}
body{
	background-color: #f2f2f2;
}

.wrapper{
	width: 980px;
	min-width: 980px;
	margin: 0 auto;
	position: relative;
	overflow: hidden;
}
.top{
	width: 100%;
	font-size: 12px;
	line-height: 34px;
	overflow: hidden;
	display: block;
	
}

.top-links{
	float: left;
	margin-left: 1.5px;
	display: inline-block;
}
.one{
	float: left;
	width: 34px;
	height: 34px;
	background-image: url(../images/1.0.png);
	background-position: -21px -93px;
	position: relative;
	left: 567px;
}
.two{
	float: left;
	width: 34px;
	height: 34px;
	background-image: url(../images/1.0.png);
	background-position: -20px -134px;
	position: relative;
	left: 626px;
}
.top-menu{
	float: right;
	margin-right: 1.5px;

}
a{
	text-decoration: none;
	margin-left: 18px;
	color:#535353;
}
.outHeader{
	overflow: hidden;
	border: 1px solid #dadada;
	background-color: white;
	border-radius: 5px;
}
.header{
	clear: both;
	width: 942.4px;
	height: 93.6px;
	border-bottom: 3px solid red;
	overflow: hidden;
	background-color: white;
	margin: 0 18px;
	position: relative;

}
.banklogo{
	width: 
}
.logo{
	width: 175px;
	height: 49px;
	float: left;
	margin: 23px  23px 0 0;
}

.three{
	width: 23px;
	height: 34px;
	background-image: url(../images/1.0.png);
	background-position: 0px 2px;
	position: relative;
	left: -26px;
}
.header-info{
	height: 29px;
	width: 580px;
	margin-top: 46px;
	margin-right: 15px;
	float: right;
}
.header-search{
	width: 218px;
	height: 27px;
	border: 1px solid #dadada;
	float: right;
}
.search-bar{
	width: 218px;
	height: 27px;
	float: right;
	border: 1px solid #dadada;
	margin: auto 0;
	position: relative;
	top: -3px;
	border-radius:3px;

}
.search-bar a{
	position: relative;
	left: 193px;
	top: -23px;
	
}
.shouye,.jinrong,.GRJR,.YHK,.JRSC,.DZYH,.TZZGX,.GYZH{
	margin: 0 10px;
}
.shouye{
	width: 8%;
	height: 30px;
	margin-top: 10px;
	text-align: center;
	/*border: 1px solid red;*/
}
.jinrong{
	width: 12.5%;
	height: 30px;
	text-align: center;
	position: absolute;
	top: 131px;
	margin-top: 10px;
	left: 105px;
	/*border: 1px solid red;*/
}
.GRJR{
	width: 12.5%;
	margin-top: 10px;
	height: 30px;
	text-align: center;
	position: absolute;
	top: 131px;
	left: 225px;
	/*border: 1px solid red;*/
}
.YHK{
	width: 12.5%;
	height: 30px;
	margin-top: 10px;
	text-align: center;
	position: absolute;
	top: 131px;
	left: 350px;
	/*border: 1px solid red;*/

}
.JRSC{
	width: 12.5%;
	height: 30px;
	margin-top: 10px;
	text-align: center;
	/*border: 1px solid red;*/
	position: absolute;
	top: 131px;
	left: 473px;
}
.DZYH{
	width: 12.5%;
	height: 30px;
	margin-top: 10px;
	text-align: center;
	/*border: 1px solid red;*/
	position: absolute;
	top: 131px;
	left: 597px;
}
.TZZGX{
	width: 12.5%;
	height: 30px;
	margin-top: 10px;
	text-align: center;
	/*border: 1px solid red;*/
	position: absolute;
	top: 131px;
	left: 720px;
}
.GYZH{
	width: 12.5%;
	height: 30px;
	margin-top: 10px;
	text-align: center;
	/*border: 1px solid red;*/
	position: absolute;
	top:131px;
	left: 842px;
}


.company{
	position: relative;
}
.jinrong:hover>.hidden1{
	padding:15px 15px;
	text-decoration: none;
	color: black;
	display: block;
}
.hidden1{
	padding: 15px;
	height: 150px;
	display: none;
	position: absolute;
	left: -101px;
	width: 920px;
	border: 1px solid #dadada;
	margin-top: 10px;
	overflow: hidden;
	background-color: white;
	z-index: 2;
}
.GRJR:hover>.hidden2{
	padding:15px 15px;
	text-decoration: none;
	color: black;
	display: block;
}
.hidden2{
	padding: 15px;
	height: 150px;
	display: none;
	position: absolute;
	left: -220px;
	width: 920px;
	border: 1px solid #dadada;
	margin-top: 10px;
	overflow: hidden;
	background-color: white;
	z-index: 2;
}
.YHK:hover>.hidden3{
	padding:15px 15px;
	text-decoration: none;
	color: black;
	display: block;
}
.hidden3{
	padding: 15px;
	height: 150px;
	display: none;
	position: absolute;
	left: -344px;
	width: 920px;
	border: 1px solid #dadada;
	margin-top: 10px;
	overflow: hidden;
	background-color: white;
	z-index: 2;
}
.JRSC:hover>.hidden4{
	padding:15px 15px;
	text-decoration: none;
	color: black;
	display: block;
}
.hidden4{
	padding: 15px;
	height: 150px;
	display: none;
	position: absolute;
	left: -469px;
	width: 920px;
	border: 1px solid #dadada;
	margin-top: 10px;
	overflow: hidden;
	background-color: white;
	z-index: 2;
}
.DZYH:hover>.hidden5{
	padding:15px 15px;
	text-decoration: none;
	color: black;
	display: block;
}
.hidden5{
	padding: 15px;
	height: 150px;
	display: none;
	position: absolute;
	left: -593px;
	width: 920px;
	border: 1px solid #dadada;
	margin-top: 10px;
	overflow: hidden;
	background-color: white;
	z-index: 2;
}
.TZZGX:hover>.hidden6{
	padding:15px 15px;
	text-decoration: none;
	color: black;
	display: block;
}
.hidden6{
	padding: 15px;
	height: 150px;
	display: none;
	position: absolute;
	left: -706px;
	width: 920px;
	border: 1px solid #dadada;
	margin-top: 10px;
	overflow: hidden;
	background-color: white;
	z-index: 2;
}
.GYZH:hover>.hidden7{
	padding:15px 15px;
	text-decoration: none;
	color: black;
	display: block;
}
.hidden7{
	padding: 15px;
	height: 150px;
	display: none;
	position: absolute;
	left: -838px;
	width: 920px;
	border: 1px solid #dadada;
	margin-top: 10px;
	overflow: hidden;
	background-color: white;
	z-index: 2;
}
.ul1-1{
	list-style: none;
	padding-left: 20px;
	height: 130px;
	float: left;
	border-right: 1px solid #dadada;
	position: relative;
	top: -17px;
}
.ul1-1 li{
	line-height: 32px;
	/*padding-left: 16px;*/
}
.ul1-2{
	list-style: none;
	padding-left: 30px;
	height: 130px;
	float: left;
	border-right: 1px solid #dadada;
}
.ul1-2 li{
	line-height: 32px;
	/*padding-left: 16px;*/
}
.ul1-3{
	list-style: none;
	padding-left: 30px;
	height: 130px;
	float: left;
	border-right: 1px solid #dadada;
}
.ul1-3 li{
	line-height: 32px;
	/*padding-left: 16px;*/
}
.ul1-4{
	list-style: none;
	padding-left: 30px;
	height: 130px;
	float: left;
}
ul a{
	text-decoration:none;
	color:black;
	font-size: 14px;
}
.outHeader li::before{
	content:'·';
	color: black;
}

.personal{
	position: relative;
}
.bankCard{
	position: relative;
}
.markets{
	position: relative;
}
.electronicBanking{
	position: relative;
}
.investorRelations{
	position: relative;
}
.about{
	position: relative;
}


.bannerCom-box{
	width: 978px;
	height: 378px;
	/*border: 1px solid red;*/
	margin-bottom: 20px;
	margin-top: 20px;
	position: relative;
	background-color: white;
	border-radius: 13px;
}
.longbo{
	width: 100%;
	height: 288px;
	border: 1px solid #dadada;
	cursor: pointer;
	overflow: hidden;
	position: relative;
}
.longbo-imgs{
	width: 3912px;
	height: 100%;
	animation-name: myani;
	animation-duration:10s;
	animation-iteration-count: infinite;
}
.longbo-imgs img{
	float: left;
}
@keyframes myani{
	0%{
		transform: translate(0);	
	}
	25%{
		transform: translateX(-978px);
	}
	50%{
		transform: translateX(-1956px);
	}
	75%{
		transform: translateX(-2934px);
	}
	100%{
		transform: translateX(-0);
	}
}

.longbo1{
	width: 183px;
	height: 87px;
	border: 1px solid #dadada;
	text-align: center;
	font-size: 13px;
	cursor: pointer;
	border-bottom-left-radius: 13px;
}
.longbo2{
	width: 183px;
	height: 87px;
	border: 1px solid #dadada;
	position: absolute;
	top: 289px;
	left: 184px;
	text-align: center;
	font-size: 13px;
	cursor: pointer;
}
.longbo3{
	width: 183px;
	height: 87px;
	border: 1px solid #dadada;
	position: absolute;
	top: 289px;
	left: 368px;
	text-align: center;
	font-size: 13px;
	cursor: pointer;
}
.longbo4{
	width: 183px;
	height: 87px;
	border: 1px solid #dadada;
	position: absolute;
	top: 289px;
	left: 552px;
	text-align: center;
	font-size: 13px;
	cursor: pointer;
}

.guding{
	width: 241px;
	height: 87px;
	border: 1px solid #dadada;
	position: absolute;
	top:289px;
	left: 736px;
	font-size: 13px;
	border-bottom-right-radius: 13px;
}

.one1{
	width: 30px;
	height: 39px;
	background-image: url(../images/tubiao1.png);
	background-position: -28px -316px;
	position: relative;
	top: -75px;
	left: 72px;
}
.two1{
	width: 30px;
	height: 39px;
	background-image: url(../images/tubiao1.png);
	background-position: -27px -361px;
	position: relative;
	top: -114px;
	left: 114px;
}
.three1{
	width: 30px;
	height: 27px;
	background-image: url(../images/tubiao1.png);
	background-position: -28px -653px;
	position: relative;
	top: -140px;
	left: 159px;
}
.main{
	width: 978px;
	height: 2211.6px;
	/*border: 1px solid blue;*/
	margin-bottom: 20px;
	border-radius: 7px;
}

.clearfix{
	width: 100%;
	height: 200px;
	/*border: 1px solid red;*/
	background-color: white;
}
.msg1{
	width: 277px;
	height: 160px;
	overflow: hidden;
	border-right: 1px solid #dadada;
}

.msg1 a{
	margin-left: 0;
}
.msg2{

}
.msg2 li::before{
	content: none;
}
.msg1, .msg2{
	float: left;
	padding: 20px;
}

.p-1{
	cursor: pointer; 
	position:relative; 
	height:200px;
}
.p-2{
	position:relative; 
	cursor:pointer; 
	height:20px;
}
.msg1-0{
	position:absolute;
	left: 10px;
	width:377px; 
	height:78px;
	font-size:13px;
	padding-top:20px; 
	display: block; 
}
.msg1-1{
	position:absolute;
	left: -114px;
	top: 26px;
	width:277px;
	height:78px;
	font-size:13px;
	padding-top:20px; 
	display: none; 
	z-index: 1;
	background-color: white;
	padding-bottom: 10px;
}
.p-2:hover>.msg1-1{
	display: block;
}
.msg1-0 a::before{
	content: '·  ';
	color: black;
}
.msg1-1 a::before{
	content: '·  ';
	color: black;
}


.scroller{
	width: 607px;
	position: relative;
	height: 106px;
	overflow: hidden;
	margin-top: 10px;
}
.es-scroller{
	background-color: rgb(255, 255, 255);
	padding: 0 30px;
	position: relative;
	width: 547px;
	height: 106px;
	overflow: hidden;
}
.es-carousel-o{
	overflow: hidden;
	width: 546px;
}
.es-carousel{
	overflow: hidden;
	background-color: #fff;
	width: 568px;
}
.es-nav-prev{
	opacity: 1.0;
	position: absolute;
	top: 15%;
	left: -10px;
	width: 13px;
	height: 42px;
	text-indent: -9000px;
	cursor: pointer;
	background-image: url(../images/2.13.png);
	background-position:0 -1px; 
}
.es-nav-next{
	opacity: 1.0;
	position: absolute;
	top: 15%;
	right: 5px;
	width: 13px;
	height: 42px;
	text-indent: -9000px;
	cursor: pointer;
	background-image: url(../images/2.13.png);
	background-position:-13px -1px; 
}


.personal2{
	width: 100%;
	height: 400px;
	background-color: white;
	margin-top: 10px;
	border-radius: 7px;
}
.personal2-top{
	width: 100%;
	height: 45px;
	line-height: 45px;
	border-bottom: 1px solid #dadada;
	font: 微软雅黑;
	padding-left: 20px;
}
.personal2-left{
	padding: 20px;
	height: 314px;
	width: 277px;
	border-right: 1px solid #adadad;
	float: left;
}
.personal2-left-top{
	width: 274px;
	height: 124px;
	position: relative;
	overflow: hidden;
	margin-top: 10px;
	border: 1px solid #dadada;
}
.personal2-left-nottom{
	width: 274px;
	height: 124px;
	position: relative;
	overflow: hidden;
	margin-top: 30px;
	border: 1px solid #dadada;
}

.personal2-right{
	float: left;
	height: 353px;
	width: 608px;
	padding-right:20px;
	padding-left: 30px;
	/*border: 1px solid red;*/
}
.personal2-right-top{
	height: 60px;
	width: 100%;
	border-bottom: 1px solid #dadada;
	text-align: center;
	font-size: 20px;
}
/*银行卡*/
.personla2-bank{
	float: left;
	margin-left: 115px;
	width: 20%;
	height: 35px;
	/*border: 1px solid red;*/
	padding-top:24px;
	position: relative;
}
.personla2-bank-nav{
	position: absolute;
	top: 77px;
	left: -117px;
	padding-top: 14px;
	width: 606px;
	height: 250px;
	/*border: 1px solid red;*/
	display: block;
}
.personla2-bank-nav-left{
	float: left;
	width: 50%;
	height: 100%;
	/*border: 1px solid red;*/
	overflow: hidden;
}
.personla2-bank-nav-lefttop{
	width: 80%;
	height: 40%;
	/*border:1px solid red;*/
	padding: 0 10%;
}
/*银行卡照片滚动*/
.one2-1{
	float:left;
	margin-top: 17.5px;
	height: 63px;
	width: 18px;
	/*border:1px solid red;*/
	background-image: url(../images/2.13.png);
	background-position: 0 -178px;
	background-size: 35px 120px;
}
.two2-1{
	float: left;
	height: 98px;
	width: 164px;
	margin-left: 10px;
	margin-right: 10px;
	/*border:1px solid red;*/
	overflow: hidden;
}
.three2-1{
	float:left;
	margin-top: 17.5px;
	height: 63px;
	width: 18px;
	/*border:1px solid red;*/
	background-image: url(../images/2.13.png);
	background-position: -17px -178px;
	background-size: 35px 120px;
}
.personla2-bank-nav-right{
	float: left;
	width: 49%;
	height: 250px;
	/*border:1px solid red;*/
}
.personla2-bank-nav-righttop{
	width: 100%;
	height: 40%;
	border-bottom: 1px solid #adadad;
}
.personla2-bank-nav-righttop div{
	float: left;
	margin: 20px;
	width: 19%;
	height: 20%;
}
.personla2-bank-nav-rightbottom{
	width: 100%;
	height: 58%;
	margin-top:22px;
}
.personla2-bank-nav-rightbottom div{
	float: left;
	margin: 10px;
	width: 26%;
	height: 46%;
	border: 1px solid #dadada;
	border-radius: 7px;
}
/*投资理财*/
.personal2-licai{
	float: left;
	width: 20%;
	height: 35px;
	/*border: 1px solid red;*/
	padding-top:24px;
	position: relative;
	cursor: pointer;
}
.personal2-licai-nav{
	display: none;
	position: absolute;
	top: 60px;
	left: -238px;
	padding-top: 14px;
	width: 606px;
	height: 250px;
	/*border: 1px solid red;*/
	display:none;
	z-index: 1;
	background-color: white;
}
.personal2-licai-nav-left{
	width: 50%;
	height: 100%;
	float: left;
	overflow: hidden;
	padding-right: 20px;
	/*border: 1px solid red;*/
	position: relative;
}
.licai-nav1{
	padding-top: 20px;
	position: relative;
	top: -9px;
}
.licai-nav1 div{
	width: 23px;
	height: 22px;
	background-image: url(../images/tubiao1.png);
	background-position: 0 -54px;
}
.licai-nav1 span{
	position: absolute;
	top: 21px;
	left: 29px;
}
.licai-nav2{
	width: 106%;
	height: 50%;
	/*border: 1px solid red;*/
	text-align: left;
}
.licai-nav2 span{
	line-height: 46px;
}
.licai-nav3{
	width: 16%;
	height: 13%;
	border: 1px solid #dadada;
	border-radius: 5px;
	padding: 0 8px;
	margin-top: 24px;
}
.licai-nav3 div{
	width: 21px;
	height: 24px;
	background-image: url(../images/tubiao1.png);
	background-position: 0 -545px;
	position: relative;
}
.licai-nav3 span{
	font-size: 13px;
	position: absolute;
	top: 200.5px;
	left: 30px;
}
.personal2-licai-nav-right{
	float: left;
	width: 43%;
	height: 100%;
	/*border: 1px solid red;*/
	text-align: left;
	padding-left: 3%;
}
.personal2-licai-nav-right a{
	font-size: 12px;
	line-height: 18px;
	margin-left: 0;
}
.personal2-licai:hover>.personal2-licai-nav{
	display: block;
}


.personal2-jijing{
	float: left;
	width: 20%;
	height: 35px;
	/*border: 1px solid red;*/
	padding-top:24px;
	position: relative;
}
.personal2-jijing-nav{
	display: none;
	position: absolute;
	top: 60px;
	left: -361px;
	padding-top: 14px;
	width: 606px;
	height: 250px;
	/*border: 1px solid red;*/

	z-index: 1;
	background-color: white;
}
.personal2-jijing-nav-left{
	width: 50%;
	height: 100%;
	float: left;
	overflow: hidden;
	padding-right: 20px;
	/*border: 1px solid red;*/
	position: relative;
}
.jijing-nav1{
	padding-top: 20px;
	position: relative;
	top: -9px;
}
.jijing-nav1 div{
	width: 23px;
	height: 22px;
	background-image: url(../images/tubiao1.png);
	background-position: 0 -54px;
}
.jijing-nav1 span{
	position: absolute;
	top: 21px;
	left: 29px;
}
.jijing-nav2{
	width: 106%;
	height: 50%;
	/*border: 1px solid red;*/
	text-align: left;
}
.jijing-nav2 span{
	line-height: 46px;
}
.jijing-nav3{
	width: 16%;
	height: 13%;
	border: 1px solid #dadada;
	border-radius: 5px;
	padding: 0 8px;
	margin-top: 24px;
}
.jijing-nav3 div{
	width: 21px;
	height: 24px;
	background-image: url(../images/tubiao1.png);
	background-position: 0 -545px;
	position: relative;
}
.jijing-nav3 span{
	font-size: 13px;
	position: absolute;
	top: 200.5px;
	left: 30px;
}
.personal2-jijing-nav-righttop{
	float: left;
	width: 43%;
	height: 49%;
	/*border: 1px solid red;*/
	text-align: left;
	padding-left: 3%;
	overflow: hidden;
	border-bottom: 1px solid #dadada;
	line-height: 26px;
}
.personal2-jijing-nav-righttop a{
	font-size: 12px;
	line-height: 18px;
	margin-left: 0;
}
.personal2-jijing-nav-rightbottom{
	float: left;
	width: 43%;
	height: 49%;
	/*border: 1px solid red;*/
	text-align: left;
	padding-left: 3%;

	line-height: 26px;
}
.personal2-jijing-nav-rightbottom a{
	font-size: 12px;
	line-height: 18px;
	margin-left: 0;
}
.personal2-jijing:hover>.personal2-jijing-nav{
	display: block;
}


.personal2-personal{
	float: left;
	width: 20%;
	height: 35px;
	/*border: 1px solid red;*/
	padding-top:24px;
	position: relative;
}
.personal2-personal-nav{
	position: absolute;
	top: 60px;
	left: -484px;
	padding-top: 14px;
	width: 606px;
	height: 250px;
	/*border: 1px solid red;*/
	display:none;
	z-index: 1;
	background-color: white;
}
.personal2-personal-nav-left{
	width: 50%;
	height: 100%;
	float: left;
	overflow: hidden;
	padding-right: 20px;
	/*border: 1px solid red;*/
	position: relative;
}
.personal-nav1{
	padding-top: 20px;
	position: relative;
	top: -9px;
}
.personal-nav1 div{
	width: 23px;
	height: 22px;
	background-image: url(../images/tubiao1.png);
	background-position: 0 -54px;
}
.personal-nav1 span{
	position: absolute;
	top: 21px;
	left: 29px;
}
.personal-nav2{
	width: 106%;
	height: 50%;
	/*border: 1px solid red;*/
	text-align: left;
}
.personal-nav2 span{
	line-height: 46px;
}
.personal-nav3{
	width: 16%;
	height: 13%;
	border: 1px solid #dadada;
	border-radius: 5px;
	padding: 0 8px;
	margin-top: 24px;
}
.personal-nav3 div{
	width: 21px;
	height: 24px;
	background-image: url(../images/tubiao1.png);
	background-position: 0 -545px;
	position: relative;
}
.personal-nav3 span{
	font-size: 13px;
	position: absolute;
	top: 200.5px;
	left: 30px;
}
.personal2-personal-nav-right{
	float: left;
	width: 43%;
	height: 100%;
	/*border: 1px solid red;*/
	text-align: left;
	padding-left: 3%;
}
.personal2-personal-nav-right a{
	font-size: 12px;
	line-height: 23px;
	margin-left: 0;
}
.personal2-personal:hover>.personal2-personal-nav{
	display: block;
}

/*企业客户服务*/
.personal3{
	width: 100%;
	height: 400px;
	background-color: white;
	margin-top: 10px;
	border-radius: 7px;
}
.personal3-top{
	width: 100%;
	height: 45px;
	line-height: 45px;
	border-bottom: 1px solid #dadada;
	font: 微软雅黑;
	padding-left: 20px;
}
.personal3-left{
	float: left;
	padding: 20px;
	height: 314px;
	width: 277px;
	border-right: 1px solid #adadad;
	overflow: hidden;
}
.personal3-left-top{
	width: 274px;
	height: 124px;
	position: relative;
	overflow: hidden;
	margin-top: 10px;
	border: 1px solid #dadada;
}
.personal3-left-nottom{
	width: 274px;
	height: 124px;
	position: relative;
	overflow: hidden;
	margin-top: 30px;
	border: 1px solid #dadada;
}
.personal3-right{
	float: left;
	width: 618px;
	height: 312px;
	padding:20px;
	/*border: 1px solid red;*/
}
.personal3-right-top{
	height: 20%;
	width: 300px;
	text-align: left;
	/*border: 1px solid blue;*/
	font-size: 20px;
}
.personal3-right-top a{
	margin-left: 0;
}
.personal3-right-center{
	height: 53%;
	width: 100%;
	border-bottom: 1px dashed #dadada;
}
.personal3-right-center span{
	font-size: 12px;
}
.personal3-right-center a{
	margin-left: 5px;
}
.personal3-right-centerleft{
	height: 100%;
	width: 45%;
	padding-left: 18px;
	/*border: 1px solid red;*/
	float: left;
	overflow: hidden;
}
.personal3-right-centerleft ul{
	margin-top: 16px;
	line-height: 21px;

}
.personal3-right-centerright{
	float: left;
	margin-left: 27px;
	width: 45%;
	height: 100%;
	/*border: 1px solid blue;*/
	z-index: 0.1;
}
.personal3-right-centerright ul{
	float: left;
	margin-top: 7px;
	margin-left: 20px;
	line-height: 21px;
}


.personal3-right-bottom{
	width: 100%;
	height: 20%;
	/*border:1px solid red;*/
	padding-top: 20px;
}
.personal3-right-bottom a{
	line-height: 24px;
	font-size: 12px;
}
.personal3-right-bottom span{
	color: orange;
}


/*金融市场分析*/
.personal4{
	width: 937px;
	height: 360px;
	background-color: white;
	margin-top: 10px;
	border-radius: 7px;
	padding: 20px 20px;	
}
.personal4-left{
	float: left;
	width: 627px;
	height: 375px;
	border-right: 1px solid #dadada;
}
.personal4-left-top{
	width: 95%;
	height: 24%;
	border-bottom: 1px dashed #adadad;
	position: relative;
	padding-right: 10px;
}
.personal4-left-top div{
	width: 30px;
	height: 30px;
	background-image: url(../images/tubiao1.png);
	background-position: 0 -587px;
	position: absolute;
	top: 51px;
	left: -2px;
}
.personal4-left-top h3{
	margin-bottom: 30px;
}
.personal4-left-top a{
	margin-left: 30px;
}
.personal4-left-top span{
	font-size: 12px;
}
.personal4-left-center{
	width: 95%;
	height: 42%;
	/*border: 1px solid blue;*/
	position: relative;
	padding-right: 10px;
	margin: 10px 0;
}
.personal4-left-centerleft{
	float: left;
	width: 42%;
	height: 100%;
	border-bottom: 1px solid #dadada;
	padding-left: 20px;
	line-height: 24px;
	margin-right: 20px;
}
.personal4-left-centerright{
	float: left;
	width: 45%;
	height: 100%;
	padding-left: 20px;
	line-height: 24px;
	border-bottom: 1px solid #dadada;
}
.personal4-left-centerleft a{
	margin-left: 0;
}
.personal4-left-centerright a{
	margin-left: 0;
}
.ul3-1 span{
	font-size: 12px;
}
.ul3-2 span{
	font-size: 12px;
}
.personal4-left-bottom{
	width: 95%;
	height: 20%;
	/*border: 1px solid blue;*/
	position: relative;
	padding-right: 10px;
	margin: 18px 0;
}
.personal4-left-bottomleft{
	float: left;
	width: 42%;
	height: 100%;
	/*border: 1px solid red;*/
	padding-left: 20px;
	line-height: 24px;
	margin-right: 20px;
}
.personal4-left-bottomright{
	float: left;
	width: 45%;
	height: 100%;
	padding-left: 20px;
	line-height: 24px;
	/*border: 1px solid red;*/
}
.ul3-3 span{
	font-size: 12px;
}
.ul3-4 span{
	font-size: 12px;
}
.personal4-left-bottomleft a{
	margin-left: 0;
}
.personal4-left-bottomright a{
	margin-left: 0;
}


.personal4-right{
	float: left;
	width: 266px;
	height: 375px;
	margin-left: 20px;
	/*border-right: 1px solid #dadada;*/
}
.personal4-right-top{
	width: 95%;
	height: 24%;
	border-bottom: 1px dashed #dadada;
	position: relative;
	padding-right: 10px;
}
.personal4-right-top div{
	width: 28px;
	height: 30px;
	background-image: url(../images/tubiao1.png);
	background-position: 0 -622px;
	position: absolute;
	top: 49px;
	left: 3px;
}
.personal4-right-top h3{
	margin-bottom: 30px;
}
.personal4-right-top a{
	margin-left: 30px;
}
.personal4-right-top span{
	font-size: 12px;
}
.personal4-right-bottom{
	width: 70%;
	height: 70%;
	/*border: 1px solid red;*/
	padding-left: 20px;
	padding-top: 20px;
	line-height: 25px;
	margin-right: 20px;
}
.personal4-right-bottom a{
	margin-left: 0;
}
.personal4-right-bottom span{
	font-size: 12px;
}


.personal5{
	width: 937px;
	height: 360px;
	background-color: white;
	margin-top: 10px;
	border-radius: 7px;
	padding: 20px 20px;	
	/*border: 1px solid red;*/
}
.personal5-left{
	float: left;
	width: 290px;
	height: 100%;
	padding-right: 20px;
	border-right: 1px solid #dadada;
}
.personal5-left-top{
	margin-top: 10px;
	width: 290px;
	height: 65%;
	border-bottom: 1px solid #dadada;
}
.personal5-left-top h3{
	margin-bottom: 18px;
}
.personal5-left-top ul{
	margin-left: 15px;
}
.personal5-left-top span{
	font-size: 12px;
	line-height: 23px;
}
.personal5-left-top a{
	margin-left: 0;
}
.personal5-left-top p{
	margin-top: 20px;
	padding-right: 20px;
	text-align: right;
}
.personal5-left-bottom a{
	display: inline-block;
	margin-top: 16px;
	width: 50px;
	margin-left: 16px;
}
.personal5-left-bottom span{
	font-size: 12px;
}
.personal5-right{
	float: left;
	width: 600px;
	height: 100%;
	padding-left: 18px;
}
.personal5-right-top{
	margin-top: 10px;
	width: 640px;
	height: 45%;
	border-bottom: 1px solid #dadada;
}
.personal5-right-topleft{
	float: left;
	margin-top: 10px;
	width: 270px;
	height: 65%;
}
.personal5-right-topright{
	float: left;
	margin-top: 10px;
	width: 340px;
	height: 65%;
	padding-left: 30px;
}
.personal5-right-top h3{
	margin-bottom: 18px;
}
.personal5-right-top ul{
	margin-left: 15px;
}
.personal5-right-top span{
	font-size: 12px;
	line-height: 23px;
}
.personal5-right a{
	margin-left: 0;
}
.personal5-right-top p{
	margin-top: 20px;
	padding-right: 45px;
	text-align: right;
	padding-top: 128px;
}
.personal5-right-bottom{
	margin-top: 10px;
	width: 640px;
	height: 42%;
	/*border:1px solid red;*/
}
.personal5-right-bottomleft{
	float: left;
	width: 280px;
	height: 80%;
	padding: 10px;
	border-right: 1px solid #dadada;
}
.personal5-right-bottomleft1{
	float: left;
	width: 100px;
	height: 20%;
	padding: 0 15px;
	border-right: 1px solid #dadada;
	position: relative;
}
.personal5-right-bottomleft1-nav{
	position: absolute;
	top: 24px;
	left: 5px;
	padding-top: 20px;
	width: 278px;
	height: 84px;
	/*border: 1px solid blue;*/
	/*display: none;*/
}
.personal5-right-bottomleft1-nav p{
	margin-top: -120px;
	padding-right: 5px;
	text-align: right;
	padding-top: 128px;
}
.personal5-right-bottomleft2{
	float: left;
	width: 113px;
	height: 20%;
	padding: 0 15px;
	/*border: 1px solid red;*/
	position: relative;
}
.personal5-right-bottomleft2:hover>.personal5-right-bottomleft2-nav{
	display: block;
}
.personal5-right-bottomleft2-nav{
	position: absolute;
	top: 24px;
	left: -127px;
	padding-top: 20px;
	width: 278px;
	height: 84px;
	z-index: 1;
	background-color: white;
	/*border: 1px solid blue;*/
	display: none;
}
.personal5-right-bottomleft2-nav p{
	margin-top: -120px;
	padding-right: 5px;
	text-align: right;
	padding-top: 128px;
}
.personal5-right-bottomleft span{
	line-height: 18px;
	font-size: 12px;
}
.personal5-right-bottomright{
	float: left;
	width: 280px;
	height: 80%;
	padding: 10px;
	margin-left: 15px;
	/*border-right: 1px solid #dadada;*/
}
.personal5-right-bottomright1{
	float: left;
	width: 66px;
	height: 20%;
	padding: 0 15px;
	border-right: 1px solid #dadada;
	position: relative;
}
.personal5-right-bottomright1-nav{
	position: absolute;
	top: 24px;
	left: 5px;
	padding-top: 20px;
	width: 278px;
	height: 84px;
	/*border: 1px solid blue;*/
	/*display: none;*/
}
.personal5-right-bottomright1-nav p{
	margin-top: -120px;
	padding-right: 5px;
	text-align: right;
	padding-top: 128px;
}
.personal5-right-bottomright2{
	float: left;
	width: 113px;
	height: 20%;
	padding: 0 15px;
	/*border: 1px solid red;*/
	position: relative;
}
.personal5-right-bottomright2:hover>.personal5-right-bottomright2-nav{
	display: block;
}
.personal5-right-bottomright2-nav{
	position: absolute;
	top: 24px;
	left: -93px;
	padding-top: 20px;
	width: 278px;
	height: 84px;
	z-index: 1;
	background-color: white;
	/*border: 1px solid blue;*/
	display: none;
}
.personal5-right-bottomright2-nav p{
	margin-top: -120px;
	padding-right: 5px;
	text-align: right;
	padding-top: 128px;
}
.personal5-right-bottomright span{
	line-height: 18px;
	font-size: 12px;
}


/*全球服务*/
.personal6{
	width: 937px;
	height: 320px;
	background-color: white;
	margin-top: 10px;
	border-radius: 7px;
	padding: 20px 20px;	
	/*border: 1px solid red;*/
}
.personal6-map{
	float: left;
	width: 560px;
	height: 275px;

}
.map-area{
	float: left;
	width: 350px;
	height: 339px;
	margin-left: 20px;
	/*border: 1px solid red;*/
}
.map-area h3{
	margin-bottom: 20px;
	margin-left: 5px;
}
.zz1{
	width: 100%;
	height: 75%;
	/*border: 1px solid blue;*/
}
.zz1 ul{
	list-style: none;
	margin-left: 10px;
}
.zz1 li{
	float: left;
	width: 68px;
	height: 28px;
}
.zz1 a{
	margin-left: 0;
}
.zz1 span{
	font-size: 12px;
}
.zz2{
	width: 100%;
	height: 10%;
	margin-left: 10px;
	/*border: 1px solid red;*/
}
.zz2 select{
	width: 300px;
	height: 30px;
	font-size: 12px;
	line-height: 18px;
	border-radius: 3px;
}


.footer-2013{
	width: 978px;
	height: 222px;
	/*border: 1px solid black;*/
	margin-bottom: 20px;
}
.footer-phone{
	width: 100%;
	height: 13%;
	border-bottom: 2px solid #dadada;
	padding-top: 65px;
	position: relative;
}
.footer-phone div{
	width: 23px;
	height: 34px;
	background-image: url(../images/1.0.png);
	background-position: 0 2px;
	position: absolute;
	top: 62px;
	left: 24px;

}
.footer-phone p{
	/*margin-top: 65px;*/
	margin-left: 50px;
	font-size: 12px;
}
.footer-phone span{
	color: #a71e32;
}
.footer-copy{
	width: 100%;
	height: 49%;
	/*border: 1px solid blue;*/
	position: relative;
}
.footer-copy-1{
	width: 680px;
	height:20px;
	margin-top: 18px;
	margin-left: 10px;
	/*border: 1px solid red; */
}
.footer-copy-1 div{
	width: 82px;
	height: 20px;
	border-right: 1px solid black;
	float: left;
}
.footer-copy span{
	font-size: 12px;
}
.footer-copy-2{
	width: 680px;
	height: 20px;
	margin-left: 28px;
}
.footer-copy-3{
	position: absolute;
	top: 4px;
	left: 839px;
	width: 110px;
	height: 32px;
	background-image: url(../images/banklogo.png);
	background-size: 110px 32px;
}
* a:hover{
	color: orange;
}
.smarte{
	width: 182px;
	height: 173px;
	padding: 15px 20px 0 20px;
	position: absolute;
	top: 2px;
	right: 23px;
	border-radius: 3px;
	background-color: white;
	z-index: 1;
}
.smarte a{
	position: relative;
}
.smarte span{
	font-size: 14px;
	line-height: 39px;
}
.b1{
	position: absolute;
	top: -10px;
	left: 129px;
	height: 20px;
	display: none;
	color: orange;
}
.b2{
	position: absolute;
	top: -10px;
	left: 129px;
	height: 20px;
	display: none;
	color: orange;
}
.b3{
	position: absolute;
	top: -10px;
	left: 129px;
	height: 20px;
	display: none;
	color: orange;
}
.b4{
	position: absolute;
	top: -10px;
	left: 129px;
	height: 20px;
	display: none;
	color: orange;
}
.a1:hover>.b1{
	display: block;
}
.a2:hover>.b2{
	display: block;
}
.a3:hover>.b3{
	display: block;
}
.a4:hover>.b4{
	display: block;
}

/*.es-carousel-dong{
	width: 1146px;
}
@keyframes myani1{
	0%{
		transform: translate(0);
	}
	100%{
		transform: translateX(-580px) ;
	}
}
.es-nav-prev:hover>.es-carousel-dong{
	animation-name: myani1;
	animation-duration: 3s;
	animation-iteration-count: 1;
}*/
